<a href="https://colab.research.google.com/github/chi-yan/notebooks/blob/master/Trivial_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('logistic.csv')

print(df.to_string())

   Input Output
0      A    Yes
1      B    Yes
2      A    Yes
3      B     No
4      A    Yes
5      A    Yes
6      C     No
7      B     No
8      C     No
9      C     No
10     D    Yes
11     A     No
12     D     No
13     C    Yes
14     A    Yes

In [12]:
df

   Input Output
0      A    Yes
1      B    Yes
2      A    Yes
3      B     No
4      A    Yes
5      A    Yes
6      C     No
7      B     No
8      C     No
9      C     No
10     D    Yes
11     A     No
12     D     No
13     C    Yes
14     A    Yes

In [15]:
df.Output[df.Output == "Yes"] = 1

In [13]:
df.Output[df.Output == "No"] = 0

In [16]:
df

   Input Output
0      A      1
1      B      1
2      A      1
3      B      0
4      A      1
5      A      1
6      C      0
7      B      0
8      C      0
9      C      0
10     D      1
11     A      0
12     D      0
13     C      1
14     A      1

AttributeError: ignored

In [45]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [46]:
ohe = OneHotEncoder(sparse= False)

In [24]:
ohe.fit_transform(df[['Input']])

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.]])

In [25]:
inputs = ohe.fit_transform(df[['Input']])

In [28]:
output = df.Output

In [29]:
inputs

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.]])

In [30]:
output

0     1
1     1
2     1
3     0
4     1
5     1
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    1
14    1
Name: Output, dtype: object

In [32]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()

In [37]:
logisticRegr.fit(inputs, list(output))

LogisticRegression()

[1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1]

In [41]:
predictions = logisticRegr.predict(inputs)
print(predictions)

[1 0 1 0 1 1 0 0 0 0 1 1 1 0 1]

In [40]:
from sklearn import metrics

In [44]:
cm = metrics.confusion_matrix(list(output), predictions)
print(cm)

[[5 2]
 [2 6]]